@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

@media print {
  @page {
    size: 210mm 148mm landscape;
    margin: 5mm;
  }
  body * {
    visibility: hidden;
  }
  #tyre-print-section, #tyre-print-section *,
  #print-section, #print-section *,
  #receipts-print-section, #receipts-print-section * {
    visibility: visible;
  }
  #tyre-print-section, #print-section, #receipts-print-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: block !important;
  }
}
